<video id="video" width="640" height="480" autoplay></video>
<button id="startButton">Start 30s Video</button>
<button id="sendButton">Send to Score</button>
<canvas id="canvas" width="640" height="480"></canvas>
<h1 id="output">Output here</h1>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
var video = document.getElementById('video');

video.setAttribute("playsinline", true);
video.setAttribute("controls", true);
setTimeout(() => {
    video.removeAttribute("controls");
});

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
}

var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var video = document.getElementById('video');

var images = []
// Trigger photo take
function getFrame() {
	context.drawImage(video, 0, 0, parseInt(640 * (5/9)), 480); //5/9 is the aspect ratio I think
    images.push(canvas.toDataURL("image/jpeg"));
};




document.getElementById("startButton").addEventListener("click", function() {
    endVideo();
    window.setTimeout(startRecording, 5000);
});

var videorun;
function startRecording() {
    images = []
    videorun = window.setInterval(getFrame, 32); //32 for 30fps
    window.setTimeout(endVideo, 10000);
}

function endVideo() {
    window.clearInterval(videorun);
    context.clearRect(0, 0, canvas.width, canvas.height);
}

document.getElementById("sendButton").addEventListener("click", function() {
	$.ajax({
    type: "POST",
    url: "/receive",
    contentType: "application/json",
    data: JSON.stringify(images),
    dataType: "json",
    success: function(response) {
        console.log(response);
        document.getElementById("output").innerHTML = response;
    },
    error: function(err) {
        console.log(err);
    }
    })
    
});

</script>